/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: black;
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h2, p{
    color: rgb(255, 255, 255);
    font-family: 'Consolas', sans-serif;
    text-align: left;
    font-size: large;
}

h1{
    color: rgb(255, 255, 255);
    font-family: 'Consolas', sans-serif;
    text-align: left;
    font-size: xx-large;
}
    
h3{
    color: rgb(255, 255, 255);
    font-family: 'Consolas', sans-serif;
    text-align: center;
}

a{
    
    font-family: 'Consolas', sans-serif;
    font-size: large;
    color: #d805db;
    border: 3px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

/* Set the apperance of the class, chart */
.chart{
    background-color: black;
    font-family: 'Consolas', sans-serif;
    text-align: center;
    width:400px;
    border-width: 2px;
    border-style: solid;
    border-radius: 0px;
    border-color: rgb(216, 5, 210);
}
